.background{
  background-color:hsla(0,0%,0%,1);
background-image:
radial-gradient(at 100% 100%, hsla(119,94%,17%,1) 0px, transparent 50%),
radial-gradient(at 0% 0%, hsla(343,0%,2%,1) 0px, transparent 50%);
}